body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 80%;
    margin: auto;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: skyblue;
    border: 2px solid navy;
}
h2{
    text-align: center;
    color: navy;
    font-size: 28px;
}
.love-calculator{
    margin-top: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: lightblue;
}
#result{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
